extends ../layout

block content
    h3 Добавление клиники

    form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
            label.col-sm-4 Фамилия
            div.col-sm-8
                input.form-control(
                placeholder='Фамилия',
                required=true,
                name='lastName',
                type='text')

        div.form-group
            label.col-sm-4 Имя
            div.col-sm-8
                input.form-control(
                placeholder='Имя',
                required=true,
                name='firstName',
                type='text')

        div.form-group
            label.col-sm-4 Отчество
            div.col-sm-8
                input.form-control(
                placeholder='Отчество',
                name='secondName',
                type='text')

        div.form-group
            label.col-sm-4 Дата рождения
            div.col-sm-8
                input.form-control(
                name='birthdate',
                type='date')

        div.form-group
            label.col-sm-4 Город
            div.col-sm-8
                select.form-control(
                id='city'
                required=true,
                name='city')
                    option(selected='selected', disabled='true') Выберите город
                    each city in cities
                        option(value=city.id) #{city.name}

        div.form-group(id='formClinic', style='display: none')
            label.col-sm-4 Клиника
            div.col-sm-8
                select.form-control(
                id='clinic'
                required=true,
                name='clinic')
                small.form-text.text-muted(
                ) Если список пустой, то в городе нету клиники

        div.form-group(id='formSpeciality', style='display: none')
            label.col-sm-4 Специальность
            div.col-sm-8
                select.form-control(
                id='speciality'
                required=true,
                name='speciality')
                small.form-text.text-muted(
                ) Если список пустой, то в клинике нету специальностей

        div.form-group
            label.col-sm-4 Логин
            div.col-sm-8
                input.form-control(
                placeholder='Логин',
                required=true,
                name='username',
                type='text')

        div.form-group
            label.col-sm-4 email
            div.col-sm-8
                input.form-control(
                placeholder='email',
                required=true,
                name='email',
                type='email')


        div.form-group
            label.col-sm-4 Пароль
            div.col-sm-8
                input.form-control(
                placeholder='Пароль',
                required=true,
                name='password',
                type='password')



        div.form-group
            div.col-sm-offset-4.col-sm-8
                button.login.btn.btn-primary(type='submit') Сохранить

    script.
        $("#city").change(function(){

            $.ajax({
                url: '/doctor/ajax-city',
                /* jshint ignore:start */
                data: {'city': $("#city").val()},
                /* jshint ignore:end */
                dataType: 'JSON',
                success: function (data, status, jqXHR) {
                    if(data != []) {
                        $('#formClinic').show();
                        $("#clinic").empty().html(data.clinics);
                    } else {
                        $('#formClinic').hide();
                    }
                }
            });
        });
        $("#clinic").change(function () {

            $.ajax({
                url: '/doctor/ajax-clinic',
                /* jshint ignore:start */
                data: {'clinic': $("#clinic").val()},
                /* jshint ignore:end */
                dataType: 'JSON',
                success: function (data, status, jqXHR) {
                    $('#formSpeciality').show();
                    $("#speciality").empty().html(data.specialites);
                }
            });
        });