extends ../layout

block content
    h3 Добавление клиники

    form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
            label.col-sm-4 Фамилия
            div.col-sm-8
                input.form-control(
                placeholder='Фамилия',
                required=true,
                name='lastName',
                type='text')

        div.form-group
            label.col-sm-4 Имя
            div.col-sm-8
                input.form-control(
                placeholder='Имя',
                required=true,
                name='firstName',
                type='text')

        div.form-group
            label.col-sm-4 Отчество
            div.col-sm-8
                input.form-control(
                placeholder='Отчество',
                name='secondName',
                type='text')

        div.form-group
            label.col-sm-4 Город
            div.col-sm-8
                select.form-control(
                required=true,
                name='city')
                    each city in cities
                        option(value=city.id) #{city.name}

        div.form-group
            label.col-sm-4 Клиника
            div.col-sm-8
                select.form-control(
                required=true,
                name='city')
                    each clinic in clinics
                        option(value=clinic.id) #{clinic.name}

        div.form-group
            label.col-sm-4 Специальность
            div.col-sm-8
                select.form-control(
                required=true,
                name='city')
                    each city in cities
                        option(value=city.id) #{city.name}

        div.form-group
            label.col-sm-4 Логин
            div.col-sm-8
                input.form-control(
                placeholder='Логин',
                required=true,
                aria-describedby="emailHelp",
                name='username',
                type='text')
                small.form-text.text-muted(
                id="emailHelp"
                ) Здесь надо записать логин

        div.form-group
            label.col-sm-4 email
            div.col-sm-8
                input.form-control(
                placeholder='email',
                required=true,
                name='email',
                type='email')


        div.form-group
            label.col-sm-4 Пароль
            div.col-sm-8
                input.form-control(
                placeholder='Пароль',
                required=true,
                name='password',
                type='password')



        div.form-group
            div.col-sm-offset-4.col-sm-8
                button.login.btn.btn-primary(type='submit') Сохранить