extends ../layout

block content
    h1= title
    a(href='/doctor/create')
        button.btn.btn-success Добавить

    div
        table.table.table-striped
            thead.thead-dark
                tr: th ФИО
                    th Клиника
                    th Специальность
                    th Логин
                    th
            tbody
                each doctor in doctors
                    tr
                        td
                            a #{doctor.lastName} #{doctor.firstName} #{doctor.secondName}
                        td
                            a #{doctor.clinic.name}
                        td
                            a #{doctor.speciality.name}
                        td
                            a #{doctor.username}
                        td
                            a(href='/doctor/view?id=' + doctor.id)
                                i.fa.fa-eye
